<h4>Formularios <small>template</small></h4>
<hr />
<form class="" novalidate #forma="ngForm" (ngSubmit)="guardar(forma)">
    <div>
        <div class="form-group row" [ngClass]="{
        'was-validated':
          (nombre.errors?.minlength || nombre.errors?.required) &&
          nombre.touched
      }">
            <label class="col-2 col-form-label ">Nombre</label>
            <div class="col-8 ">
                <input class="form-control" type="text " placeholder="Nombre " #nombre="ngModel" name="nombre " [(ngModel)]="usuario.nombre" required minlength="5" />
            </div>
        </div>

        <div class="form-group row " [ngClass]="{
        'was-validated':
          (apellido.errors?.minlength || apellido.errors?.required) &&
          apellido.touched
      }">
            <label class="col-2 col-form-label ">Apellido</label>
            <div class="col-8 ">
                <input class="form-control " type="text " placeholder="Apellido" #apellido="ngModel" name="apellido " [(ngModel)]="usuario.apellido" required minlength="2" />
            </div>
        </div>
    </div>

    <div class="form-group row" [ngClass]="{
      'was-validated':
        (correo.errors?.pattern || correo.errors?.required) && correo.touched
    }">
        <label class="col-2 col-form-label ">Correo</label>
        <div class="col-8 ">
            <input class="form-control " type="email " placeholder="Correo electrónico" #correo="ngModel" name="correo " [(ngModel)]="usuario.correo" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Pais</label>
        <div class="col-8">
            <select [(ngModel)]="usuario.paises" class="form-control" name="pais" id="">
        <option value="">Seleccione un pais</option>
        <option *ngFor="let pais of pais" [value]="pais.codigo">
          {{ pais.nombre }}
        </option>
      </select>
        </div>
    </div>

    <div class="form-group row ">
        <label class="col-2 col-form-label ">&nbsp;</label>
        <div class="input-group col-8 ">
            <button [disabled]="!forma.valid" type="submit" class="btn btn-outline-primary ">
        Guardar
      </button>
        </div>
    </div>
</form>